body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #222222, #444444, #666666, #888888);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 10px;
}

.navbar a{
  transition: color 0.1s linear 0s;
  font-size: 20px;
  font-family: fantasy;
  text-decoration: none;
  padding: 6px;
  color: black;
}

button {
  font-size: 20px;
  font-family: fantasy;
  text-decoration: none;
  padding: 6px;
  color: black;
}

.links button {
  background-color: #444444;
  border: none;
}

.navbar .main_menu {
  margin-left: auto;
}

.navbar a:hover {
  color: green;
}

.home .register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.home .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.mainContent, .register, .login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  border-radius: 20px;
}

.mangaName,
.authorName,
.Description,
.tags,
.chapterAmount,
.episodes,
.photoUpload {
  display: flex;
  flex-direction: column;
}

label {
  font-family: fantasy;
  margin-bottom: 8px;
  font-size: 16px;
  color: #333;
}

input[type="text"],
input[type="file"],
input[type="email"],
input[type="password"],
textarea {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 100px;
  resize: vertical;
}

input[type="file"] {
  background-color: #f1f1f1;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #666;
}
.mangaList {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 20px;
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
  background: #2c2c2c;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.5);
}

.Manga {
  display: flex;
  background: #1e1e1e;
  border-radius: 4px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  overflow: hidden; /* Keeps child elements within the bounds of the border radius */
  margin-bottom: 20px; /* Adds more space below each manga for clarity */
  padding: 10px; /* Adds padding inside each manga box */
  width: 425px; /* Fixed width */
  height: 180px; /* Fixed height */
  align-items: stretch; /* Align children to fill the container height */
}

.Manga img, Link {
  width: 100%; /* Adjust width to a fixed percentage of the container */
  object-fit: cover; /* Cover the div without distorting the image */
  height: 100%; /* Make image height match the MangaDetails height */
}

.MangaDetails {
  width: 70%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: start; /* Aligns content to the start of the flex direction */
  justify-content: flex-start; /* Aligns content to the top */
  color: #fff;
  overflow: hidden; /* Prevent overflow and allow text ellipsis if needed */
}

.MangaTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px; /* Adjust margin as needed */
}

.MangaChapter {
  justify-content: flex-start;
  margin-top: 5px;
  color: #aaa;
}

.MangaChapter a {
  padding-top: 10px;
  display: block;
  color: #7591af;
  text-decoration: none;
}

.MangaChapter a:hover {
  text-decoration: underline;
}

.Manga:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3); /* Larger hover shadow */
}

.MangaView {
  display: flex;
  flex-direction: column; /* Changed from row to column */
  align-items: center;
  width: 90%;
  max-width: 900px;
  background-color: #2c2c2c;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.AdministratorFunc{
  margin-left: auto;
  display:flex
}

.AdministratorFunc button{
  border-radius: 10px;
  margin: 5px;
  transition: background-color 0.1s linear 0s;
}
.Update, .Confirm{
  background-color: green;
  background-size: fixed;
}

.Delete, .Cancel{
  background-color: red;
  
}

.Update:hover, .Confirm:hover{
  background-color: darkgreen;
}

.Delete:hover, .Cancel:hover{
  background-color: darkred;
}

.PopUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 5px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

.PopUpContent{
  display:flex;
  position: center;
  flex-direction: column;
  align-items: center;
}

.ConfirmationButtons {
  display: flex;
  flex-direction: row;
  align-items: center;

}


.MangaContent { /* New class for holding image and details side-by-side */
  display: flex;
  width: 100%;
  align-items: flex-start;
}

.MangaImage {
  width: 250px;
  height: 300px;
  margin-right: 20px;
  border-radius: 8px;
  object-fit: cover;
}

.MangaDetails {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: start;
  justify-content: space-around;
}

.MangaDetails h1, h2, .MangaDetails p {
  margin: 0 0 10px 0;
  color: #fff;
}

.ChapterList,
.Comments {
  width: 100%;
  height: 100px;
  max-height: 200px; /* Maximum height with overflow */
  overflow-y: scroll; /* Enables scrolling */
  display: flex;
  flex-direction: column;
  background-color: #333;
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
}

.ChapterList h3, .Comments h3 {
  justify-content: flex-start;
  font-size: 20px;
  margin-bottom: 10px;
}

.ChapterList a, .Comments a {
  color: #7591af;
  text-decoration: none;
  margin-bottom: 5px;
}

.ChapterList a:hover, .Comments a:hover {
  text-decoration: underline;
}

.CommentSection textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
}

.CommentSection button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #666;
  color: #fff;
  border: none;
  cursor: pointer;
}

.CommentSection button:hover {
  background-color: #777;
}
.CommentsTitle, .ChapterTitle{
  margin-right: auto;
  
}

.ChapterList::-webkit-scrollbar,
.Comments::-webkit-scrollbar {
  width: 12px; /* Scrollbar width */
}

.ChapterList::-webkit-scrollbar-track,
.Comments::-webkit-scrollbar-track {
  background: black; /* Scrollbar track color */
  border-radius: 4px;
}

.ChapterList::-webkit-scrollbar-thumb,
.Comments::-webkit-scrollbar-thumb {
  background-color: #666; /* Scrollbar handle color */
  border-radius: 4px;
  border: 2px solid #2c2c2c; /* Optional: adds a border around the scrollbar */
}

.ChapterList::-webkit-scrollbar-thumb:hover,
.Comments::-webkit-scrollbar-thumb:hover {
  background-color: white; /* Scrollbar handle color on hover */
}

.Chapter {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the title and content vertically */
  width: 100%;
  background-color: #1e1e1e; /* Dark background for better contrast */
  padding: 20px 0; /* Padding top and bottom */
}

.EndChapter{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.EndChapter h1{
  color: white;
  margin-top: 10px;
}

.Chapter h1 {
  color: #ffffff; /* White color for the title */
  margin-bottom: 20px; /* Space below the title */
}

.PhotoItem {
  width: 100%; /* Slightly narrower to adjust within container */
  max-width: 600px; /* Maximum width of each photo */
}

.LinkBox {
  box-sizing: border-box;
  display: flex;
  justify-content: center; /* Centers the items horizontally */
  align-items: center; /* Centers the items vertically */
  background: rgb(34, 34, 34);
  border-radius: 5px;
  margin: 20px auto; /* Auto margins for horizontal centering */
  padding: 10px; /* Add padding as necessary */
  overflow: hidden;
  max-width: 1000px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 3px;
  width: 80%; /* Adjust width to better control the size */
}

@media only screen and (max-width: 800px) {
  .LinkBox {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.LinkBox a {
  color: grey;
  text-decoration: none;
  transition: color 0.1s linear 0s;
  padding-right: 10px;
  padding-left: 10px;
}

.LinkBox a:hover {
  color: green;
}

.ChapterMover{
  display:flex;
  justify-content: right;  

}

.ChapterMover button{
  border: #1e1e1e;
  border-radius: 10px;
  font-size: 20px;
  transition: background-color 0.1s linear 0s;
}
.ChapterMover button:hover{
  background-color: green;
}